<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
	</head>
	<body>
		<h1>About Us</h1>
		<p>
			About us block on the right part of the screen. 
			It will use Twitter Bootstrap. 
			Background will be a BAMF image.
		</p>
	</body>
</html>
