<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>
<p>
	This page will have a brief description
	of how to reach us. Twitter hides their 
	'Contact' page within their about page.
	This should be very Twitter-
	bootstrappy. It'll have one box with 
	a certain descriptor.
</p>