<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	I should look into adding a help block somewhere in sketch.
	This page should eventually have two Bootstrap blocks: 
	one for tutorials and one for FAQs
</p>

