<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Urop App</h1>
</div>
<p>
	On the home page, it'll have a JQuery slide show up top.
	Underneath that, there will be two spaces for text/pictures,
	which represent the options in the slideshow.
</p>
<%= link_to "Learn", '#' %>
<%= link_to "Help Us", '#', class: "btn btn-large btn-primary" %>



