<!DOCTYPE html>
<html>
	<head>
	</head>
	<body id="home">
		<div class="row">
			<div class="btn btn-large btn-danger span6" id="home-button">
				Proceed to Lesson Page!
			</div>
		</div>
	</body>
</html>



