<!DOCTYPE html>
<html>
	<head>
		<title>Sign In</title>
	</head>
	<body>
		<header class="navbar navbar-fixed-top navbar-inverse">
	  		<div class="navbar-inner">
	    		<div class="container">
	      			<%= link_to "Urop App", signin_path, id: "logo" %>
	      			<nav>
	        			<ul class="nav pull-right">
	          				<li><%= link_to "Login",    '#' %></li>
	        			</ul>
	      			</nav>
	    		</div>
	  		</div>
		</header>
		<h1>Sign In</h1>
		<div clas="container">
			<p>
				This page is going to change a lot. Right now most of the titles are wrong.
				Imagine a signup box, a native language box, a navbar with login on it...
				Get creative. 
			</p>
		</div>
	</body>
</html>
