<% provide(:title, "Sign In") %>
<h1>Sign In</h1>
<p>
	This page is going to change a lot. Right now most of the titles are wrong.
	Imagine a signup box, a native language box, a navbar with login on it...
	Get creative. 
</p>