@import "bootstrap";
@import url("bootstrap.css");

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  color: #0084b4;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0px 2px 3px #000;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* header for signup page */

#Login {
  float: right;
  padding-top: 9px;
  font-size: 1.25em;
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

/* footer */

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background: black;
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid black;
  // color: $grayLight;
  a {
    color: #0084b4;
    &:hover {
      color: #9ae4e8;
    }
  }
  small {
    float: left;
    color: #0084b4;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
      margin-left: 10px;
      margin-right: 30px;
    }
  }
}

/* landing page - incomplete */

#landing-page {
  background: url('Lighthouse.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landing-page #landing-wrapper {
  padding: 20px 0 40px 0;
  #promo {
    text-align: left;
    h3{
      font-size: 6.0em;
      padding-left: 125px;
      padding-top: 20px;
      color: white;
      text-shadow: 0px 5px 8px #000;
      font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    }
  }
  #landing-register {
    legend{
      font-size: 1.5em;
      font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
      text-shadow: 0px 1px 1px #000;
      margin-top: 10px;
      border-bottom: 1px solid $grayLight;
    }
  }
}

/* Attempt to get Web Speech Working */

#speech-content-elements {
    position: relative;
    margin: auto;
    width: 60%;
    height: 60%;
    max-height: 300px;
    max-width: 800px;
    border: solid 1px #ccc;
}

#speech-page-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
    resize: none;
    font-family: arial, sans-serif;
    font-size: 14px;
}

#speech-page-content:focus {
    outline: none;
}

.speech-content-mic {
    width: 25px;
    height: 25px;
    cursor:pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.speech-mic {
    background: url("microphone_icon.jpg") no-repeat 50% 50%;
    background-size: contain;
}

.speech-mic-works {
    background: url("mic_working.png") no-repeat 50% 50%;
    background-size: contain;
}

#speech-page-content::-webkit-scrollbar {
    width: 6px;
}

#speech-page-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#speech-page-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}




