<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div id="main">
			<div class="container">
				<div class="row">
					<h1>Getting JS To Work</h1>
				</div>
				<div class="row">
					<div id="example-type">
						textarea with JS Web Speech API
					</div>
				</div>
				<div class="row">
					<div id="speech-content-elements">
						<textarea id="speech-page-content" name="pageContent"></textarea>
						<div class="speech-content-mic speech-mic">
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Trying to get the text box via javascript -->
		<!-- <input type="text" lang="en" x-webkit-speech /> -->
		 <!-- type="text/javascript" x-webkit-speech> -->
    		<!-- // var recognition = new SpeechRecognition();
    		// recognition.onresult = function(event) {
      		// if (event.results = 'hello') {
        		// document.getElementsByTagName('h3')[0].style.display = 'none';
      			// }
    		// } -->
  		<!-- script -->
		<!-- <h3> -->
			<!-- It hasn't worked -->
		<!-- </h3> -->
	</body>
</html>